$form-range-track-box-shadow: 0 10px 10px 10px black;
$form-range-track-width: 100%;
$form-range-track-bg: white;
$form-range-track-border-radius: 0.5rem;
$form-range-thumb-width: 1rem;
$form-range-thumb-border-radius: 0;
$form-range-thumb-width: 0.5rem;
$form-range-thumb-height: 1.5rem;
$form-range-track-bg: #3F4242 ;


@import "../node_modules/bootstrap/scss/bootstrap.scss";

.form-range::-webkit-slider-runnable-track {
    box-shadow: black 3px 3px 5px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
}